.header__top {
    background: #111;
    color: #fff;
    min-height: 90px;
    font: 900 20px "NAMU Pro", sans-serif;
}

.header__top-inner {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__top-logo {
    width: 183px;
    height: 77px;
}

.nav {}

.nav__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__item ,
.nav__item a {
    color: #fff;
    transition: all 0.3s;
}
.nav__item:hover,
.nav__item:hover a  {
    color: #c5358c;
    scale: calc(1.1);
}



.header__nav-icon {
    padding-left: 60px;
}
.header__nav-icon:hover path {
    stroke: #c5358c;
    transition: all 0.3s;
}