@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* ========================= */

.products {
	padding: 150px;
}

.products__inner {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.products__card {
	box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);
	transition: all 0.5s;
}

.products__card:hover {
	transform: scale(1.05);
	border-radius: 20px;
}

.products__card:hover img {
	border-radius: 20px 20px 0 0;
}

.card__img img {
	width: 100%;
	transition: all 0.5s;
}

.card__info {
	border-radius: 0 0 20px 20px;
	color: #000;
	background: #fff;
	transition: 0.5s;
}

.card__info:hover {
	color: #fff;
	background: #000;
	border-radius: 0 0 20px 20px;
}

.card__info svg {
	transition: 0.5s;
}

.card__info path {
	transition: 0.5s;
}

.card__info:hover svg {
	transform: rotate(180deg);
}

.card__info:hover path {
	fill: #fff;
}

.card__stock {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
	font-size: 30px;
	padding-top: 20px;
	margin-left: 40px;
}

.card__link {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
	display: flex;
	align-items: center;
	gap: 20px;
	padding-bottom: 45px;
	margin-top: 11px;
	margin-left: 40px;
}

/* ========================= */

.mobile__content {
	display: none;
	background: #f5f5f5;
}
.mobile__title {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
}

.mobile__content-item {
	padding-bottom: 40px;
}
.mobile__content-item:last-child {
	padding-bottom: 70px;
}

.mobile__content-item:nth-child(1) .mobile__title {
	font-size: 26px;
	padding-top: 60px;
	padding-bottom: 20px;
}
.mobile__content-item:nth-child(2) .mobile__title {
	font-size: 22px;
	padding-bottom: 16px;
}
.mobile__content-item:nth-child(3) .mobile__title {
	font-size: 20px;
	padding-bottom: 14px;
}
.mobile__content-item:nth-child(4) .mobile__title {
	font-size: 16px;
	padding-bottom: 12px;
}
.mobile__content-item:nth-child(5) .mobile__title {
	font-size: 14px;
	padding-bottom: 10px;
}

.mobile__text {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.4;
	color: #000;
}

/* ========================= */

.opinion {
	background: #f8f8f8;
}

.opinion__inner {
	display: flex;
}

.opinion__content {
	padding-bottom: 162px;
	z-index: 2;
	max-width: 744px;
}

.opinion__title {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
	font-size: 42px;
	color: #111;
	margin: 150px 0 40px;
}

.opinion__text {
	display: flex;
	flex-direction: row;
	max-width: 670px;
	margin-bottom: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	color: #000;
}

.opinion__img {
	position: relative;
}

.opinion__photo {
	position: absolute;
	right: -34vw;
	bottom: 0;
	max-height: 100%;
}

/* ========================= */

.advantages {
}

.advantages__title {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
	font-size: 42px;
	color: #111;
	margin: 150px 0 60px;
}

.advantages__about {
}

.advantages__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	padding-bottom: 150px;
}

.advantages__item {
	box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 280px;
}

.advantages__text {
}

.advantages__img {
}

.advantages__cards-title {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	color: #000;
	margin: 13px 0 15px;
}

.advantages__cards-info {
	font-family: "Open Sans", sans-serif;
	max-width: 290px;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: #000;
}

/* ========================= */

.offers {
	background: #f8f8f8;
}

.offers__inner {
}

.offers__top {
	padding-bottom: 40px;
}

.offers__top-title {
	font-family: "NAMU Pro", sans-serif;
	font-size: 46px;
	line-height: 1.1;
	margin-bottom: 50px;
}

.offers__top-title span {
	color: #c5358c;
}

.offers__top-links {
	display: flex;
	gap: 20px;
	transition: all 0.3s;
}

.offers__top-links:hover {
	color: #c5358c;
}

.offers__top-links:last-child {
}

.offers__top-item {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	border: 1px solid #111;
	border-radius: 31px;
	padding: 6px 20px 7px;
	transition: all 0.3s;
}

.offers__top-item:hover {
	border: 1px solid #c5358c;
	transform: scale(1.1);
}

.offers__top-item-more {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: #c5358c;
	text-decoration: underline;
	cursor: pointer;
	gap: 0px;
	margin-left: 73px;
}

.offers__top-dropdown {
	position: relative;
	display: inline-block;
	margin-top: 50px;
	margin-left: 78%;
}

.dropdownBtn {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: #111;
	padding: 7px 60px 8px 25px;
	border: 1px solid #c5358c;
	background: white;
	cursor: pointer;
	text-align: left;
}

.dropdownList {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	border: 1px solid #c5358c;
	background: white;
	display: none;
	width: 100%;
	box-sizing: border-box;
}

.dropdownList li {
	padding: 8px 12px;
	cursor: pointer;
}

.dropdownList li:hover {
	background-color: #0047ab;
	color: white;
}

.offers__hero {
}

.offers__hero-inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
}

.offers__hero-card {
	max-height: 814px;
	background: #fff;
	box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}

.offers__hero-img img {
	width: 100%;
}

.card__bottom {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.offers__hero-text {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	align-items: center;
	text-align: left;
	margin: 40px 40px 25px;
	height: 100px;
}

.offers__hero-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.offers__hero-availability {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #68ae5c;
	padding-right: 112px;
	margin-left: 20px;
}

.offers__hero-discount {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #f8f8f8;
	background: #c5358c;
	border-radius: 3px;
	padding: 8px 29px;
}

.offers__price {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 75px;
	padding-top: 20px;
}

.offers__card-price {
	font-family: "NAMU Pro", sans-serif;
	font-size: 42px;
	color: #111;
}

.offers__card-discounted-price {
	font-family: "NAMU Pro", sans-serif;
	font-size: 24px;
	text-decoration: line-through;
	color: #ababab;
}

.offers__bot-basket {
	display: flex;
	align-items: center;
	padding-top: 40px;
}

.offers__hero-calc {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px;
	width: 50%;
	height: 64px;
}

.calc__minus {
	position: relative;
	top: -6px;
}

.calc__deactive {
	position: relative;
	bottom: 6px;
}

.calc__number {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	padding: 0 50px;
	line-height: 0;
	color: #111;
}

.calc__plus {
}

.offers__hero-basket {
	background: #111;
	border-radius: 3px;
	padding: 10px 20px;
	width: 50%;
	height: 64px;
}

.offers__pages {
	padding-top: 130px;
	padding-bottom: 150px;
	display: flex;
	align-items: center;
	gap: 25px;
}

.offers__pages span {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	color: #111;
}

.offers__left {
	transform: rotate(-180deg);
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px 0px;
	width: 64px;
	height: 64px;
}

.offers__right {
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px 0px;
	width: 64px;
	height: 64px;
}

.offers__right svg {
	position: relative;
	top: 5px;
}

/* ========================= */

.reviews {
	padding-bottom: 150px;
	padding-top: 150px;
}

.reviews__inner {
}

.reviews__top {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.reviews__top span {
	font-weight: 400;
	font-size: 20px;
}

.reviews__title {
	font-family: "NAMU Pro", sans-serif;
	font-size: 42px;
	margin-bottom: 20px;
}

.reviews__title span {
	color: #c5358c;
}

.reviews__rating {
}

.reviews__stars {
	display: flex;
	flex-direction: column;
	padding-right: 70px;
}

.reviews__stars span {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 30px;
}

.reviews__stars span:last-child {
	font-weight: 400;
	font-size: 20px;
}

.reviews__rating-writing {
}

.rating__btn {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #111;
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px 20px;
	width: 270px;
	height: 64px;
}

.separator {
	border: none;
	border-bottom: 1px solid #ababab;
	opacity: 0.5;
	margin: 40px 0;
	width: 100%;
}

.reviews__rating-item {
	display: flex;
}

.reviews__rating-head {
	margin-bottom: 10px;
}

.reviews__name {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 15px;
}

.reviews__note {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 10px;
}

.reviews__date {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #909090;
}

.reviews__rating-hero {
	padding-bottom: 30px;
}

.reviews__name-stars {
	gap: 15px;
}

.reviews__people-info {
	margin-right: 234px;
}

.reviews__comment {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
}

.reviews__photo-lightbox {
	margin-top: 30px;
}

.reviews__check-link {
	margin-right: 20px;
}

.reviews__check-link:last-child {
	margin-right: 0px;
}

.reviews__check-all {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #c5358c;
	text-decoration: underline;
	margin-top: 10px;
}

.check__lightbox {
}

.reviews__bottom-btn {
	position: relative;
	left: 40%;
	border: 1px solid #111;
	border-radius: 3px;
	width: 311px;
	height: 64px;
}

.reviews__bottom-link {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.reviews__more {
}

.reviews__more:hover span,
.reviews__more:hover path {
	fill: #c5358c;
	color: #c5358c;
	transition: all 0.3s;
}

.reviews__bottom-more {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #111;
}

.reviews__hidden {
	display: none;
	margin-top: 15px;
}

/* ========================= */

.faq {
	background: #f8f8f8;
	padding-top: 150px;
}

.faq__head {
}

.faq__title {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
	font-size: 42px;
	color: #111;
}

.faq__title-mobile {
	display: none;
}

.accordion {
}

.accordion-separator {
}

.accordion__item {
}

.accordion__head {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	line-height: 1.5;
	user-select: none;
	width: 100%;
}

.accordion__item-plus svg {
	min-width: 40px;
	height: 40px;
	transition: transform 0.3s ease;
}
.accordion__item-plus svg.rotated {
	transform: rotate(45deg);
}
.accordion__item-plus::before {
	content: "";
	width: 30px;
	height: 2px;
	background-color: #333;
	border-radius: 2px;
	transition: all 0.5s;
}

.accordion__item-plus::after {
	content: "";
	transform: rotate(90deg);
	width: 30px;
	height: 2px;
	background-color: #333;
	border-radius: 2px;
	transition: all 0.5s;
}

.accordion__body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #111;
	/* max-width: 908px; */
	transition: all 0.4s;
	overflow: hidden;
}

.accordion__body--opened {
	margin-top: 50px;
}

.faq__head {
	padding-bottom: 60px;
}

.accordion {
	padding-bottom: 150px;
}

.accordion-separator {
	border: none;
	border-bottom: 1px solid #ababab;
	opacity: 0.5;
	margin: 34px 0;
	width: 100%;
}

/* ============================= */

.news {
}

.news__inner {
	padding-bottom: 150px;
}

.news__title {
	font-family: "NAMU Pro", sans-serif;
	font-weight: 900;
	font-size: 42px;
	color: #111;
	padding: 150px 0 70px;
}

.news__content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.news__item {
	height: 567px;
}

.news__item-img {
	padding-bottom: 30px;
}

.news__item-date {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #909090;
	padding-bottom: 20px;
}

.news__item-sub {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: #111;
	padding-bottom: 15px;
}

.news__item-text {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	padding-bottom: 20px;
}

.news__item-more {
	text-decoration: underline;
	color: #c5358c;
	padding-top: 20px;
	padding-bottom: 80px;
}

.news__item-link {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.news__bottom-btn {
	margin-top: 80px;
}

.animate-show {
	animation: showContent 0.5s ease-in-out forwards;
}

@keyframes showContent {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.news__bottom-link {
}

.news__more {
	border: 1px solid #111;
	border-radius: 3px;
	width: 311px;
	height: 64px;
	position: relative;
	left: 40%;
}

.news__bottom-more {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #111;
}

.news__hidden {
	display: none;
	margin-top: 15px;
	margin-bottom: 150px;
	gap: 20px;
}

/* =========================== */

.communication {
	padding-bottom: 115px;
	background: #f8f8f8;
}

.communication__inner {
	display: flex;
	justify-content: space-between;
	gap: 135px;
}

.communication__contact {
	padding-right: 135px;
}

.communication__title {
	font-family: "NAMU Pro", sans-serif;
	font-size: 42px;
	margin-bottom: 50px;
	margin-top: 150px;
}

.communication__input::placeholder {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: #ababab;
}

.communication__input {
	background: #f8f8f8;
}

.communication__separator {
	border: 1.5px solid #7a7a7a;
	margin: 15px 0 30px;
}

.communication__form {
	display: flex;
	align-items: center;
	gap: 8px;
}

.contact__form {
}

.communication__button-send {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	color: #fff;
	border-radius: 3px;
	padding: 10px;
	width: 277px;
	height: 64px;
	background: #111;
	margin: 40px 0 35px;
}

.communication__subscribe-confidentiality {
	appearance: none;
	cursor: pointer;
	border: 1px solid #111;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	transition: all 0.3s;
}

.communication__subscribe-confidentiality:checked {
	background: url(../img/icons/check.svg) 50% 50% no-repeat;
}

.communication__subscribe {
}

.communication__checkbox {
	display: flex;
	align-items: center;
	gap: 16px;
	font-family: "Open Sans", sans-serif;
}

/* ============================ */

@media (max-width: 1600px) {
	.opinion__title {
		font-size: 39px;
	}
	.opinion__text {
		font-size: 16px;
	}
	.opinion__photo {
		width: 600px;
		opacity: 0.5;
	}
}

@media (max-width: 1300px) {
	.nav__item {
		font-size: 16px;
	}

	.hero__title {
	}

	.hero__text {
	}

	.hero__img {
		top: 224px;
		width: 840px;
	}

	.hero__img img {
	}

	.hero__button button {
		padding: 7px 26.5px;
	}
	.card__link {
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 20px;
		display: flex;
		gap: 20px;
		padding-bottom: 20px;
		margin-top: 10px;
		margin-left: 30px;
	}
	.card__stock {
		font-family: "NAMU Pro", sans-serif;
		font-weight: 900;
		font-size: 25px;
		padding-top: 15px;
		margin-left: 30px;
	}
}

@media (max-width: 1100px) {
	.header__top-inner {
		justify-content: space-between;
	}

	.head__top-logo {
	}

	.nav {
		position: fixed;
		inset: 0;
		z-index: 10;
		background: #000000;
		padding: 26vh 15px 30px;

		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s;
	}

	.body--opened-menu .nav {
		transform: translateY(0%);
		opacity: 1;
		visibility: visible;
	}

	.nav__list {
		gap: 4vh 80px;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.nav__item {
		font-size: 24px;
	}

	.header__nav-icon {
	}

	.burger-icon {
		display: flex;
		margin: 0 40px 0 70px;
	}

	.header__hero-inner {
		display: flex;
		min-height: 520px;
	}

	.hero__title {
		padding: 150px 0 30px;
	}

	.hero__text {
		padding-bottom: 40px;
	}

	.hero__img {
		top: 98px;
		width: 600px;
	}
	.hero__img img {
	}

	.hero__button {
		padding: 7px 27px;
		background: #c5358c;
	}

	/* ====================== */

	.footer {
		background: #111;
	}

	.footer__inner {
		min-height: 419px;
	}

	.footer__logo img {
		width: 143px;
		height: 61px;
	}

	.footer__about {
		font-size: 18px;
	}

	.footer__info {
		gap: 10px;
	}

	.footer__title {
		font-size: 20px;
	}

	.footer__list {
	}

	.footer__link {
		font-size: 16px;
	}

	.footer__link li {
	}

	.footer__link:hover {
	}

	.footer__logistics {
		font-size: 20px;
		width: 200px;
	}

	.footer__number {
	}

	.footer__number:hover {
	}

	.footer__socials svg {
		width: 30px;
	}

	.footer__copy {
		font-size: 14px;
	}
}

@media (max-width: 770px) {
	.container {
		padding: 0 30px;
	}

	.header__hero-inner {
		min-height: 389px;
	}

	.hero__info {
		max-width: 363px;
		margin-left: 70px;
	}

	.hero__title {
		padding: 80px 0 20px;
		font-family: "NAMU Pro", sans-serif;
		font-weight: 900;
		font-size: 30px;
		line-height: 1;
		color: #111;
	}

	.hero__text {
		padding-bottom: 40px;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.3;
		color: #111;
		max-width: 253px;
	}

	.hero__img {
		max-width: 374px;
		width: 374px;
		height: 389px;
		top: 160px;
	}

	.hero__img img {
		max-width: 374px;
	}
	.head__top-logo {
		display: flex;
		align-items: center;
	}

	.head__top-logo img {
		width: 142px;
		height: 60px;
	}

	/* ==================== */
	.opinion__inner {
		padding: 50px 0 50px;
	}
	.opinion__content {
		padding: 0;
	}

	.opinion__title {
		font-size: 26px;
		margin: 0 0 20px;
	}
	.opinion__text {
		font-size: 12px;
	}
	.opinion__img {
		display: none;
	}

	/* ==================== */

	.mobile__content {
		display: block;
	}

	/* ==================== */

	.advantages__cards {
		grid-template-columns: 1fr 1fr;
	}

	.advantages__item {
		height: 190px;
	}
	.advantages__item svg {
		height: 74px;
		width: 74px;
	}

	.advantages__cards-title {
		margin: 11px 0 8px;
		font-size: 14px;
	}
	.advantages__text:last-child {
		padding-bottom: 30px;
	}
	.advantages__cards-info {
		max-width: 304px;
		font-size: 12px;
	}

	/* ==================== */
	.faq {
		padding-top: 60px;
	}
	.faq__head {
		padding-bottom: 40px;
	}
	.faq__title {
		font-size: 26px;
	}
	.accordion__head {
		font-size: 16px;
	}

	.accordion__body {
		font-size: 14px;
	}

	.accordion__item-plus svg {
		min-width: 30px;
		height: 30px;
	}

	/* ==================== */

	.footer {
		background: #111;
		height: 252px;
	}

	.footer__inner {
	}

	.footer__logo {
		padding: 20px 0 10px;
	}
	.footer__logo img {
		width: 73px;
		height: 31px;
	}

	.footer__about {
		font-size: 14px;
		padding-bottom: 10px;
	}

	.footer__info {
		gap: 10px;
	}

	.footer__title {
		font-size: 14px;
		padding-bottom: 6px;
	}

	.footer__list {
		gap: 2px;
	}

	.footer__link {
		font-size: 10px;
	}

	.footer__link li {
	}

	.footer__link:hover {
	}

	.footer__logistics {
		font-size: 14px;
		width: 100%;
	}

	.footer__number {
	}

	.footer__number:hover {
	}

	.footer__socials svg {
		width: 21px;
	}
	.footer__socials {
		padding-top: 12px;
		gap: 10px;
		margin-bottom: 38px;
	}

	.footer__copy {
		font-size: 10px;
	}
}

@media (max-width: 500px) {
	.head__top-logo img {
		width: 100%;
	}

	/* ==================== */
	.mobile__content {
		text-align: center;
		padding: 40px 0 40px;
	}

	.opinion__inner {
		text-align: center;
		padding: 40px 0 40px;
	}
}

@media (max-width: 650px) {
	.header__logo {
		margin-right: 40px;
	}

	.header__hero {
		display: flex;
		align-items: center;
		text-align: center;
	}

	.header__hero-inner {
		min-height: 320px;
		display: block;
	}

	.hero__info {
		margin: 0;
		align-items: center;
	}
	.hero__text {
		max-width: none;
	}
	.hero__img {
		display: none;
	}
	/* ==================== */

	.advantages__title {
		font-size: 24px;
		margin-top: 70px;
	}

	/* ==================== */

	.footer__logistics {
		font-size: 14px;
		min-width: 138px;
	}
}

@media (max-width: 450px) {
	.footer {
		background: #111;
		height: 327px;
	}

	.footer__inner {
	}

	.footer__logo {
		padding: 16px 0 6px;
	}
	.footer__logo img {
		width: 110px;
		height: 46px;
	}

	.footer__about {
		font-size: 12px;
		padding-bottom: 10px;
	}

	.footer__info {
		gap: 10px;
		grid-template-columns: 1fr 1fr;
	}

	.footer__title {
		font-size: 12px;
		padding-bottom: 4px;
	}

	.footer__list {
		gap: 2px;
	}

	.footer__link {
		font-size: 10px;
	}

	.footer__link li {
	}

	.footer__link:hover {
	}

	.footer__logistics {
		font-size: 14px;
		width: 100%;
	}

	.footer__number {
	}

	.footer__number:hover {
	}

	.footer__socials svg {
		width: 21px;
	}
	.footer__socials {
		padding-top: 12px;
		gap: 10px;
		margin-bottom: 5px;
	}

	.footer__copy {
		font-size: 10px;
	}
}
@media (max-width: 390px) {
	.header__logo {
		margin-right: 20px;
	}

	.hero__img {
		max-width: 374px;
		width: 374px;
		height: 389px;
	}

	.hero__info {
		padding-bottom: 20px;
	}

	/* ==================== */
	.advantages__title {
		text-align: center;
	}
	.advantages__item {
		height: 116px;
		padding: 0 20px;
		gap: 43px;
		flex-direction: row;
		align-items: center;
		justify-content: stretch;
	}
	.advantages__item svg {
		height: 74px;
		width: 74px;
	}

	.advantages__text p {
		text-align: left;
	}

	/* .advantages__cards-title {
		margin: 11px 0 8px;
		font-size: 14px;
	}
	.advantages__text:last-child {
		padding-bottom: 30px;
	}
	.advantages__cards-info {
		max-width: 304px;
		font-size: 12px;
	} */
	.advantages__cards {
		grid-template-columns: 1fr;
	}

	/* ==================== */
	.faq {
		padding: 0px;
	}
	.faq__head {
		padding: 0;
	}
	.faq__title {
		display: none;
	}

	.faq__title-mobile {
		display: block;
		font-family: "NAMU Pro", sans-serif;
		font-weight: 900;
		font-size: 20px;
		padding-top: 46px;
	}

	.accordion__item-plus svg {
		min-width: 24px;
		height: 24px;
	}
}
